body {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  top: 0px;
  width: 100%;
  height: 90px;
  display: flex;
  padding: 0 120px;
  position: absolute;
  align-items: center;
  box-sizing: border-box;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

header img {
  width: 30px;
  height: 30px;
}

header h1 {
  font-size: 32px;
  margin-left: 6px;
  font-weight: 600;
  color: #ffffff;
  line-height: 39px;
  font-style: normal;
  font-family: "Magra";
  white-space: nowrap;
}

header nav {
  width: 100%;
  display: flex;
  margin-left: 158px;
  align-items: center;
}

header nav :not(:first-child) {
  margin-left: 42px;
}

header nav a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 21px;
  font-style: normal;
  text-decoration: none;
  font-family: "Red Hat Text";
}

header button {
  height: 41px;
  border: none;
  width: 103px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  line-height: 21px;
  padding: 10px 30px;
  font-style: normal;
  border-radius: 10px;
  background: #0d606f;
  font-family: "Red Hat Text";
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
}

section {
  width: 100%;
}

.preview {
  height: 765px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/backgrounds/first.png");
}

.preview div {
  width: 892px;
  height: 422px;
  box-sizing: border-box;
  margin: 122px 0 0 120px;
}

.preview div h1 {
  font-size: 80px;
  font-weight: 700;
  color: #ffffff;
  line-height: 96px;
  font-style: normal;
  font-family: "Aleo";
  margin-bottom: 32px;
}

.preview div p {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 46px;
}

input {
  width: 892px;
  height: 95px;
  border: none;
  outline: none;
  color: #f2785c;
  font-size: 24px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  border-radius: 16px;
  line-height: 29px;
  background: rgba(255, 255, 255, 0.7);
  padding: 41px 291px 41px 41px;
}

input::placeholder {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
}

form button {
  top: 18px;
  right: 18px;
  width: 228px;
  border: none;
  height: 59px;
  outline: none;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  line-height: 32px;
  position: absolute;
  padding: 10px 32px;
  border-radius: 10px;
  background: #0d606f;
  font-family: "Red Hat Text";
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
}

form {
  position: relative;
}

.steps {
  width: 100%;
  display: flex;
  padding: 80px 130px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps h1 {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #f2785c;
  margin-top: 0;
}

.cubes-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.cube-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  background: #f2785c;
}

.cube-wrapper:nth-child(2) {
  padding-left: 70px;
}

.cube-wrapper span {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
  margin-top: 30px;
}

.destinations {
  display: flex;
  margin-top: 27px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinations h1 {
  font-family: "Red Hat Text";
  margin-top: -10px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #f2785c;
}

.slider {
  width: 100%;
  display: flex;
  margin-top: 10px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.slider span {
  position: absolute;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
}

.japan {
  bottom: 40px;
  left: 23.35%;
}
.usa {
  bottom: 41px;
  right: 12.35%;
}

.pagination {
  display: flex;
}

.pagination div {
  width: 20px;
  height: 20px;
  margin-top: 24px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}

.pagination div:nth-child(2) {
  background: #f2785c;
  margin: 24px 10px 0 10px;
}

.destinations button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  margin-top: 40px;
  width: 228px;
  height: 59px;
  border: none;
  outline: none;
  gap: 10px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;

  color: #ffffff;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.stories {
  width: 100%;
  align-items: center;
  margin-top: 50px;
}

.stories h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2785c;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
}

.rectangulars-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1331px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
  padding-bottom: 61px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/backgrounds/last.png");
}

.rectangular-wrapper {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}
